@import "tailwindcss";

:root {
  --background: #102222;
  --foreground: #f2f2f2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: #0df2f2;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;

  --color-text-secondary-dark: #a8d6d6;
  --color-background-dark: #0f2626;

  --color-input-dark: #1a3636;
  --color-surface-dark: #0a1818;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
